/.idea/
/coding_test_study.iml
/out/
/coding_test_study/.idea/workspace.xml
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
/src/main/java/week01/
/src/main/java/week02/
/src/main/java/week03/
/src/main/java/week04/
/src/main/java/week05/
